ansible==13.5.0
ansible-core==2.20.4
boto3==1.42.83
botocore==1.42.83
cffi==2.0.0
cryptography==46.0.6
Jinja2==3.1.6
jmespath==1.1.0
MarkupSafe==3.0.3
packaging==26.0
pip==25.3
pycparser==3.0
python-dateutil==2.9.0.post0
PyYAML==6.0.3
resolvelib==1.2.1
s3transfer==0.16.0
six==1.17.0
urllib3==2.6.3